<div class="container">
	<div class="row">
	  <div id="snow_falling" class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
	   <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 20px">
	      <a href="https://t.me/freeit256" id="subscribe_link">Подписаться</a>

	      <div class="logo-container">
	        <a href="/" class="logo-link">
	          <img src="/assets/img/twilly.jpg" class="logo-img" />
	          <span class="logo-foreground"></span>
	        </a>
	      </div>
	   </div>
	     {% include social_networks.html %}
	</div>
</div>

	<div class="row" style="margin-bottom: 20px">
	      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
	        <div style=" display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
	           <a class="navigation_link" style="margin-right: 20px" href="/">Главная</a>

	           <a class="navigation_link" style="margin-right: 20px" href="/learning">Обучение</a>

	           <a class="navigation_link" style="" href="/about">Обо мне</a>
	    	</div>
	  </div>

</div>

</div>