/*
	core
*/

.no-margin {
	margin: 0px !important;
}

/*
	blog header: subscribe button, social icons + logo;
*/

#subscribe_link {
	margin-right: 10px; 
	font-weight: 600; 
	color: black;
	font-size: 18px
}

#subscribe_link:hover {
	color: #0085A1;
	text-decoration: none;
}

.fa-stack.fa-lg {
	color: black;
}

.fa-stack.fa-lg:hover {
	color: #0085A1;
}

.logo-container {
	display: inline-block;
	position: relative;
}

.logo-img {
	width: 80px; 
	height: 80px; 
	border-radius: 50%
}

.logo-link {
	display: block;
	width: 80px; 
	height: 80px; 
	border-radius: 50%;
}

 .logo-foreground {
	display: none;
	position: absolute;
	width: 80px; 
	height: 80px;  
	left: 0;
	top: 0;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .6);
}

.logo-link:hover > .logo-foreground {
	display: block;
}


/* 
	blog navigation: main, learning, about me;
*/

.navigation_link {
	font-size: 20px;
	color: #666;
	border-bottom: 3px solid #666;
	font-weight: bold; 
}


.navigation_link:hover {
	text-decoration: none;
	border-bottom: 3px solid #0085A1;
	color: #0085A1;
}

/*

	learning section

*/


.learning-block {
	padding: 32px; 
	border-radius: 20px; 
	display: flex; 
	align-items: center; 
	cursor: pointer;
}

.learning-block__android {
	background: #00F48B;
	margin-bottom: 16px;
	margin-top: 32px;
}

.learning-block__android:hover {
	background: #08c775;
}

.learning-block__java_kotlin {
	background: #9900FC;
	margin-bottom: 16px;
}

.learning-block__java_kotlin:hover {
	background: #7d08c9;
}

.learning-block__basics {
	background: #F0008B;
	margin-bottom: 32px;
}

.learning-block__basics:hover {
	background: #bd0971;
}

.learning-icon-box {
	width: 56px; text-align: center; margin-right: 8px
}

.learning-icon-48 {
	color: black; 
	font-size: 48px;	
}

.learning-icon-40 {
	color: black;
	font-size: 40px;
}

.learning-name {
	color: black; 
	font-size: 21px
}




