/*
	core
*/

.no-margin {
	margin: 0px !important;
}

.markdown-link {
	color: #0085A1;
}


.core_button {
	display: block;
	position: fixed;
	width: 56px;
	bottom: 32px;
	right: 32px;
	width: 56px; 
	height: 56px; 
	border-radius: 100px; 
	text-align: center; 
	background: #0096DC;
}

.core_button:hover {
	background: #088cc9;
}

/*
	blog header: subscribe button, social icons + logo;
*/

#subscribe_link {
	margin-right: 10px; 
	font-weight: 600; 
	color: black;
	font-size: 18px
}

#subscribe_link:hover {
	color: #0085A1;
	text-decoration: none;
}

.fa-stack.fa-lg {
	color: black;
}

.fa-stack.fa-lg:hover {
	color: #0085A1;
}

.logo-container {
	display: inline-block;
	position: relative;
}

.logo-img {
	width: 80px; 
	height: 80px; 
	border-radius: 50%
}

.logo-link {
	display: block;
	width: 80px; 
	height: 80px; 
	border-radius: 50%;
}

 .logo-foreground {
	display: none;
	position: absolute;
	width: 80px; 
	height: 80px;  
	left: 0;
	top: 0;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .6);
}

.logo-link:hover > .logo-foreground {
	display: block;
}


/* 
	blog navigation: main, learning, about me;
*/

.navigation_link {
	font-size: 20px;
	color: #666;
	border-bottom: 3px solid #666;
	font-weight: bold; 
}


.navigation_link:hover {
	text-decoration: none;
	border-bottom: 3px solid #0085A1;
	color: #0085A1;
}

/*

	learning section

*/


.learning-block {
	padding: 32px; 
	border-radius: 20px; 
	display: flex; 
	align-items: center; 
	cursor: pointer;
}

.learning-block__android {
	background: #00F48B;
	margin-bottom: 16px;
	margin-top: 32px;
}

.learning-block__android:hover {
	background: #08c775;
}

.learning-block__java_kotlin {
	background: #9900FC;
	margin-bottom: 16px;
}

.learning-block__java_kotlin:hover {
	background: #7d08c9;
}

.learning-block__basics {
	background: #F0008B;
	margin-bottom: 16px;
}

.learning-block__basics:hover {
	background: #bd0971;
}

.learning-block__old_materials {
	background: #f2b40a;
	margin-bottom: 16px;
}

.learning-block__old_materials:hover {
	background: #e6aa05;
}


.learning-block__planning {
	background: #6DCAEA;
	margin-bottom: 32px;
}

.learning-block__planning:hover {
	background: #55c0e6;
}


.learning-icon-box {
	width: 56px; text-align: center; margin-right: 8px
}

.learning-icon-48 {
	color: black; 
	font-size: 48px;	
}


.learning-icon-40 {
	color: black;
	font-size: 40px;
}

.learning-icon-32 {
	color: black;
	font-size: 32px;	
}

.learning-name {
	color: black; 
	font-size: 21px
}

.learning-link {
	color: #000;
}

.learning-link:hover {
	text-decoration: none;
	color: #000;
}

/*

	Android section

*/

.android-section-link {
	font-size: 30px;
	font-weight: bold;
}

.android-section-link:hover {
	text-decoration: none;
}

.android-section-link > i {
	width: 40px;
	text-align: center;
	margin-right: 8px;
}

/*
	main section
*/

.read_more_button {
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #0085A1;
}

.read_more_button > span {
	color: #0085A1;
}

.read_more_button:hover {
	background-color: #0085A1;
}

.read_more_button:hover > span {
	color: white;
}

.read_more_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 660px) {
	.read_more_box {
		justify-content: start;
		align-items: start;
		flex-direction: column;
	}
}

/*

	keywords-table

*/


.table-keywords {
  border-collapse: separate;
  border-spacing: 0;
}

.table-keywords__td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;

}

.table-keywords__td:first-child {
  border-left: 1px solid #bbb;
}

.table-keywords__tr:last-child {
	border-top-left-radius: 6px;	
}

.table-keywords__tr:first-child .table-keywords__td:first-child {
	border-top-left-radius: 6px;
}

.table-keywords__tr:first-child .table-keywords__td:last-child {
	border-top-right-radius: 6px;
}


.table-keywords__tr:last-child .table-keywords__td:last-child {
	border-bottom-right-radius: 6px;
}

.table-keywords__tr:last-child .table-keywords__td:first-child {
	border-bottom-left-radius: 6px;
}
