---
layout: base
---

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">

  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
    

    {% if page.header_img %}
      <img src="{{ page.header_img }}" style="margin-top: 32px; border-radius: 8px" />
    {% endif %}


  	 <h2 class="post-title" style="margin: 0px; font-size: 36px">{{ page.title }}</h2>

      {{ content }}

    </div>
  </div>
</div>