---
layout: page
---

<div class="posts-list" style="margin-top: 0px">
  {% assign posts = site.posts %}
  {% if page.sorted %}
  {% assign sorted_posts = posts | sort: "date" %}
  {% else %}
  {% assign sorted_posts = posts %}
  {% endif %}

  {% for post in sorted_posts %}
  <article class="post-preview">


    <a href="{{ post.url | absolute_url }}">
      <div class="d-flex align-items-center">
        <h2 class="post-title" style="margin: 0px">{{ post.title }}</h2>
        {% assign english = post.url | replace: "ru", "en" %}
        {% if post.is_translated %}
        <a href="{{english}}" style="color: #0085A1; font-size: 30px; margin-left: 8px">(EN)</a>
        {% endif %}
      </div>
    </a>

    <div style="padding: 0px; margin: 0px; margin-top: 13px; margin-bottom: 10px; display: flex; align-items: center; flex-wrap: wrap">

     <p class="post-meta" style="margin-right: 20px; margin-bottom: 10px;">
      {% assign date_format = site.date_format | default: "%d.%m.%Y" %}
      Добавлен {{ post.date | date: date_format }}
    </p>
    
    <p class="post-meta" itemprop="wordCount" style="margin-right: 10px; margin-bottom: 10px; " >
    	{% assign word_count = post.content | number_of_words %}
    	{% if word_count == 1 %}
      {{ word_count | append: ' слово' }}
      {% endif %}
      {% if word_count > 1 and word_count < 5 %}
      {{ word_count | append: ' слова' }}
      {% endif %}
      {% if word_count > 5 %}
      {{ word_count | append: ' слов' }}
      {% endif %}
    </p>


    <p class="post-meta" style="margin-right: 20px">
      {% capture words %}
      {{ post.content | number_of_words | minus: 180 }}
      {% endcapture %}
      {% unless words contains '-' %}
      {% assign minutes = words | plus: 180 | divided_by: 180 %}
      {{ minutes }}
      {% if minutes == 1 %}
      минута чтения
      {% endif %}
      {% endunless %}
      {% if minutes > 1 and minutes < 4 %}
      минуты чтения
      {% endif %}
      {% if minutes > 3 %}
      минут чтения
      {% endif %}
    </p>       

  </div>


  <p style="margin: 0px">{{ post.description }}</p>


  <div class="read_more_box">

    <a href="{{ post.url | absolute_url }}" class="read_more_button"><span>Подробнее</span></a>

    {% if site.feed_show_tags != false and post.tags.size > 0 %}
    <p>
      <span>Тэги:</span>
      {% for tag in post.tags %}
      <a href="">{{- tag -}}</a>
      <!-- <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a> -->
      {% endfor %}
    </p>
    {% endif %}
  </div>



</article>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Вперед</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Назад &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}