---
layout: base
---

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">

  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
    

    {% if page.header_img %}
      <img src="{{ page.header_img }}" style="margin-top: 32px; border-radius: 8px" />
    {% endif %}


  	<div class="d-flex align-items-center" style="border-bottom: 3px solid #0085A1; padding-bottom: 8px; margin-top: 32px">
        <h2 class="post-title" style="margin: 0px; font-size: 36px">{{ page.title }}</h2>
        {% assign english = page.url | replace: "ru", "en" %}
        {% if page.language == "russian" and page.is_translated %}
        <a href="{{english}}" style="color: #0085A1; font-size: 30px; margin-left: 8px">(EN)</a>
        {% endif %}
      </div>

      {{ content }}

    </div>
  </div>
</div>